[submodule "vendor/sfml"]
	path = vendor/sfml
	url = https://github.com/SFML/SFML.git
[submodule "src/vendor/SFML"]
	path = src/vendor/SFML
	url = https://github.com/SFML/SFML
[submodule "src/SFML"]
	path = src/SFML
	url = git@github.com:SFML/SFML.git
[submodule "src/external/sfml"]
	path = src/external/sfml
	url = git@github.com:SFML/SFML.git
